<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senb.familyedu.dao.EduCourseDao">
<select id="showCourseById" resultType="com.senb.familyedu.entity.vo.EduCourseVO" resultMap="course_map" >
    select * from edu_course where id = #{courseId}
</select>
    <resultMap id="course_map" type="com.senb.familyedu.entity.vo.EduCourseVO">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="vedio" column="vedio"></result>
        <result property="timeSection" column="time_section"></result>
        <result property="picPath" column="pic_path"></result>
        <result property="introdue" column="introdue"></result>
        <result property="week" column="week"></result>
        <association property="userTea" column="user_tea_id" javaType="com.senb.familyedu.entity.EduUser" select="com.senb.familyedu.dao.EduUserDao.selectEdueById">

        </association>
    </resultMap>
</mapper>
