<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edu家教平台</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
  <script type="text/javascript" src="layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
  <div class="site-nav w1200">
    <p class="sn-back-home">
      <i class="layui-icon layui-icon-home"></i>
      <a href="index">首页</a>
    </p>
    <div class="sn-quick-menu">
      <div class="login"><div th:if="${session.user==null}"><a href="/login">登录</a>&nbsp;&nbsp;<a href="register">注册</a>

      </div>
        <div th:if="${session.user!=null}">[[${session.user.username}]]&nbsp;&nbsp;<a href="toUpdateView" >个人中心</a>&nbsp;&nbsp;<a href="logOff" >退出登录</a></div></div>

    </div>
  </div>
</div>



<div class="header">
  <div class="headerLayout w1200">
    <div class="headerCon">
      <h1 class="mallLogo">
        <a href="#" title="">
          <img src="img/logo.png">
        </a>
      </h1>
      <div class="mallSearch">
        <form action="" class="layui-form" id="selectCourse_from">
          <input type="text" name="name"    class="layui-input" placeholder="请输入需要的课程名">
          <button class="layui-btn" id="select_btn">
            <i class="layui-icon layui-icon-search"></i>
          </button>
          <input type="hidden" name="" value="">
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="content content-nav-base about-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="selectEduCourse">所有课程</a>
            <a href="selectCourseByUserId" th:if="${session.user}==null?false:${session.user.status}==3">选课管理</a>
            <a href="information.html"  class="active" th:if="${session.user}==null?false:(${session.user.status}!=3?true:false)">新增课程</a>
            <a href="about.html">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-box">
      <div class="banner"></div>
    </div>
    <div class="brief-content layui-clear w1200">
      <div class="img-box">
        <img src="img/us_img1.jpg">
        <img class="top" src="img/us_img2.jpg">
      </div>
      <div class="text">
        <p>网上家教也叫网络家教，是学生登陆专业的网络家教平台，进入教学系统，一般这样的教学系统具备文字编辑、绘图、语音、视频、数据上传与存储等多项功能，教师通过教学系统可以与学生进行面对面一样的交流，彼此看得见，还能对话，板书内容。这种联通和交流是通过一种叫做网络白板的软件来实现的，教师在网络白板上写的东西，学生能马上看到，学生在上面做题，教师可以进行评改，网络白板相当于传统授课中教室里的黑板，能写能擦，它比黑板更方便，还可以翻页，容纳更多的讲课内容。</p>
      </div>
    </div>
    <div class="banner-text">
      <div class="w1200">
        <p>网上家教也叫网络家教，是学生登陆专业的网络家教平台，进入教学系统，一般这样的教学系统具备文字编辑、绘图、语音、视频、数据上传与存储等多项功能，教师通过教学系统可以与学生进行面对面一样的交流，彼此看得见，还能对话，板书内容。这种联通和交流是通过一种叫做网络白板的软件来实现的，教师在网络白板上写的东西，学生能马上看到，学生在上面做题，教师可以进行评改，网络白板相当于传统授课中教室里的黑板，能写能擦，它比黑板更方便，还可以翻页，容纳更多的讲课内容。</p>
      </div>
    </div>
    <div class="after-sale w1200">
      <h4>配送售后</h4>
      <div class="item-box">
        <div class="item item1">
          <div class="img-box">
            <img src="img/us_icon1.png">
          </div>
          <p>7天无理由退换货</p>
        </div>
        <div class="item item2">
          <div class="img-box">
            <img src="img/us_icon2.png">
          </div>
          <p>全场满99元纸质资料包邮</p>
        </div>
        <div class="item item3">
          <div class="img-box">
            <img src="img/us_icon3.png">
          </div>
          <p>优质客服服务</p>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

layui.config({
    base: 'js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm'],function(){
      var
     mm = layui.mm;
  
    

});
</script>
</body>
</html>