<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edu家教平台</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
  <script type="text/javascript" src="layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
  <div class="site-nav w1200">
    <p class="sn-back-home">
      <i class="layui-icon layui-icon-home"></i>
      <a href="index">首页</a>
    </p>
    <div class="sn-quick-menu">
      <div class="login"><div th:if="${session.user==null}"><a href="/login">登录</a>&nbsp;&nbsp;<a href="register">注册</a>

      </div>
        <div th:if="${session.user!=null}">[[${session.user.username}]]&nbsp;&nbsp;<a href="toUpdateView" >个人中心</a>&nbsp;&nbsp;<a href="logOff" >退出登录</a></div></div>

    </div>
  </div>
</div>



<div class="header">
  <div class="headerLayout w1200">
    <div class="headerCon">
      <h1 class="mallLogo">
        <a href="#" title="">
          <img src="img/logo.png">
        </a>
      </h1>
      <div class="mallSearch">
        <form action="" class="layui-form" id="selectCourse_from">
          <input type="text" name="name"    class="layui-input" placeholder="请输入需要的课程名">
          <button class="layui-btn" id="select_btn">
            <i class="layui-icon layui-icon-search"></i>
          </button>
          <input type="hidden" name="" value="">
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="content content-nav-base buytoday-content">
    <div id="list-cont">
      <div class="main-nav">
        <div class="inner-cont0">
          <div class="inner-cont1 w1200">
            <div class="inner-cont2">
              <a href="selectEduCourse">所有课程</a>
              <a href="selectCourseByUserId" th:if="${session.user}==null?false:${session.user.status}==3">选课管理</a>
              <a href="information.html"  class="active" th:if="${session.user}==null?false:(${session.user.status}!=3?true:false)">新增课程</a>
              <a href="about.html">关于我们</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-list-box" style="margin-top: 10px">
    <div class="info-list w1200">
      <div class="item-box layui-clear" >

        <form class="layui-form" action="" enctype="multipart/form-data" method="post" id="fileForm">

          <table class="layui-table">
            <colgroup>
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
            <tr>
              <th>时间</th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>9:00 - 10:20</td>
              <td id="time_1_1"></td>
              <td id="time_1_2"></td>
              <td id="time_1_3"></td>
              <td id="time_1_4"></td>
              <td id="time_1_5"></td>
            </tr>
            <tr>
              <td>10:20 - 12:00</td>
              <td id="time_2_1"></td>
              <td id="time_2_2"></td>
              <td id="time_2_3"></td>
              <td id="time_2_4"></td>
              <td id="time_2_5"></td>
            </tr>
            <tr>
              <td>14:00 - 15:20</td>
              <td id="time_3_1"></td>
              <td id="time_3_2"></td>
              <td id="time_3_3"></td>
              <td id="time_3_4"></td>
              <td id="time_3_5"></td>
            </tr>
            <tr>
              <td>15:30 - 16:50</td>
              <td id="time_4_1"></td>
              <td id="time_4_2"></td>
              <td id="time_4_3"></td>
              <td id="time_4_4"></td>
              <td id="time_4_5"></td>
            </tr>

            <tr>
              <td>17:00 - 18:20</td>
              <td id="time_5_1"></td>
              <td id="time_5_2"></td>
              <td id="time_5_3"></td>
              <td id="time_5_4"></td>
              <td id="time_5_5"></td>
            </tr>
            </tbody>
          </table>

        </form>

      </div>
    </div>
  </div>

</body>
<script src="js/util/jquery-3.1.1.min.js" type="application/javascript" charset="UTF-8"></script>
<script th:inline="javascript" type="text/javascript">
  $(function () {
      var courses = [[${eduSelectList}]];
      var $ = layui.$,form = layui.form;
      var tds = $("td[id^='time_']");
      console.log(tds)
      console.log(courses)
      var position,positionID,positionX,positionY;
      for (var i = 0; i < courses.length; i++) {
          for (var j =0;j<tds.length;j++) {
              positionID = $(tds[j]).attr("id")
              position = positionID.split("_");
              positionX = position[1];
              positionY = position[2];
              //和时间段的id和星期的id比对，一样则填入
              if ((courses[i].course.timeSection == positionX) && (courses[i].course.week == positionY)) {
                  $("#" + positionID).append(
                      "课程："+
                      courses[i].course.name
                      +
                      " 课程简介："+
                      courses[i].course.introdue + " "
                      +
                      " 老师："+
                      courses[i].course.userTea.username + " "
                      +
                      "&nbsp;<a href='deleteSelect?selectId=" + courses[i].id + "'>" +
                      "<i class='layui-icon layui-icon-delete' style='font-size: 20px;color: red;'></i></a>" + "<br/><br/>");
              }

          }
      }
  })

  layui.config({
    base: 'js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery','form'],function(){
      var laypage = layui.laypage,$ = layui.$;
     mm = layui.mm;
      laypage.render({
        elem: 'demo0'
        ,count: 100 //数据总数
      });

      $("#select_btn").click(function () {
          $("#selectCourse_from").attr("action","/selectEduCourse");
          $("#selectCourse_from").submit();
      });


      $('body').on('click','*[data-content]',function(){
        $(this).addClass('active').siblings().removeClass('active')
        var dataConte = $(this).attr('data-content');
        $('*[cont]').each(function(i,item){
          var itemCont = $(item).attr('cont');
          console.log(item)
          if(dataConte === itemCont){
            $(item).removeClass('layui-hide');
          }else{
            $(item).addClass('layui-hide');
          }
        })
      })


});

</script>


</body>
</html>