<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edu家教平台</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
  <script type="text/javascript" src="layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>
<div class="site-nav-bg">
  <div class="site-nav w1200">
    <p class="sn-back-home">
      <i class="layui-icon layui-icon-home"></i>
      <a href="index">首页</a>
    </p>
    <div class="sn-quick-menu">
      <div class="login"><div th:if="${session.user==null}"><a href="/login">登录</a>&nbsp;&nbsp;<a href="register">注册</a>

      </div>
        <div th:if="${session.user!=null}">[[${session.user.username}]]&nbsp;&nbsp;<a href="toUpdateView" >个人中心</a>&nbsp;&nbsp;<a href="logOff" >退出登录</a></div></div>

    </div>
  </div>
</div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="">
            <img src="img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" id="selectCourse_from">
            <input type="text" name="name"    class="layui-input" placeholder="请输入需要的课程名">
            <button class="layui-btn" id="select_btn">
              <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base commodity-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="selectEduCourse">所有课程</a>
            <a href="selectCourseByUserId" th:if="${session.user}==null?false:${session.user.status}==3">选课管理</a>
            <a href="information.html"  class="active" th:if="${session.user}==null?false:(${session.user.status}!=3?true:false)">新增课程</a>
            <a href="about.html">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="commod-cont-wrap">
      <div class="commod-cont w1200 layui-clear">
        <div class="left-nav">
          <div class="title">所有分类</div>
          <div class="list-box">
            <dl>
             <dt>经济课程</dt>
             <dd><a href="javascript:;">银行</a></dd>
             <dd><a href="javascript:;">证券</a></dd>
             <dd><a href="javascript:;">股票</a></dd>
            </dl>
            <dl>
             <dt>软件课程</dt>
             <dd><a href="javascript:;">java</a></dd>
             <dd><a href="javascript:;">C++</a></dd>

            </dl>
            <dl>
             <dt>硬件课程</dt>
             <dd><a href="javascript:;">电路板焊接</a></dd>
             <dd><a href="javascript:;">电子工艺</a></dd>

            </dl>
            <dl>
             <dt>艺术课程</dt>
             <dd><a href="javascript:;">书法与篆刻</a></dd>
             <dd><a href="javascript:;">演唱与表演</a></dd>
             <dd><a href="javascript:;">口器</a></dd>
            </dl>
            <dl>
             <dt>外语课程</dt>
             <dd><a href="javascript:;">英语</a></dd>
             <dd><a href="javascript:;">法语</a></dd>
            </dl>
          </div>
        </div>
        <div class="right-cont-wrap">
          <div class="right-cont">
            <div class="sort layui-clear">
              <!--<a class="active" href="javascript:;" event = 'volume'>销量</a>-->
              <!--<a href="javascript:;" event = 'price'>价格</a>-->
              <!--<a href="javascript:;" event = 'newprod'>新品</a>-->
              <!--<a href="javascript:;" event = 'collection'>收藏</a>-->
            </div>
            <div class="prod-number">
              <span>共<span style="color: red">[[${courseSize}]]</span>套课程视频</span>
            </div>
            <div class="cont-list layui-clear" id="list-cont">
              <div class="item" th:each="course:${eduCourseList}">
                <div class="img" >
                  <a th:href="'selectEduCourseById?courseId='+${course.id}"><img th:src="@{'/upload/'+${course.picPath}}" style="height: 250px;width: 280px"></a>
                </div>
                <div class="text">
                  <p class="title">课程：[[${course.name}]]</p>
                  <p class="title" >简介：[[${course.introdue}]]</p>
                  <p style="font-size: 15px;">上课时间：[[${course.week}]]&nbsp;[[${course.timeSection}]]&nbsp;&nbsp;
                    <a th:href="'downloadFile?courseId='+${course.id}"><i class="layui-icon layui-icon-download-circle" style=" color: #1E9FFF;"></i> </a>
                    <a th:href="'selectCourse?courseId='+${course.id}" th:if="${session.user.status}==3"><i class="layui-icon layui-icon-add-circle-fine" style="color: #1E9FFF;"></i> </a>
                    <a th:href="'deleteCourse?courseId='+${course.id}" th:if="${session.user.status}==1 "><i class="layui-icon layui-icon-delete" style="color: #1E9FFF;"></i> </a>
                    <a th:href="'deleteCourse?courseId='+${course.id}" th:if="${session.user.status}==2 "><i class="layui-icon layui-icon-delete" style="color: #1E9FFF;"></i> </a>

                  </p>

                </div>
              </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
<script th:inline="javascript">

  layui.config({
    base: 'js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery','form'],function(){
      var laypage = layui.laypage,$ = layui.$,
     mm = layui.mm;
       laypage.render({
        elem: 'demo0'
        ,count: 100 //数据总数
      });


          var $ = layui.$,form = layui.form;
          var msg = [[${msg}]];
          if (msg){
              layer.msg(msg);
          }
          $("#select_btn").click(function () {
              $("#selectCourse_from").attr("action","/selectEduCourse");
              $("#selectCourse_from").submit();
          });



    $('.sort a').on('click',function(){
      $(this).addClass('active').siblings().removeClass('active');
    })
    $('.list-box dt').on('click',function(){
      if($(this).attr('off')){
        $(this).removeClass('active').siblings('dd').show()
        $(this).attr('off','')
      }else{
        $(this).addClass('active').siblings('dd').hide()
        $(this).attr('off',true)
      }
    })

});
</script>


</body>
</html>