<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
  <script type="text/javascript" src="layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="index">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a href="login.html">登录</a></div>
        <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="母婴商城">
            <img src="img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" >
            <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base information-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="commodity.html">所有商品</a>
            <a href="buytoday.html">今日团购</a>
            <a href="information.html"  class="active" th:if="${session.user}==null?false:(${session.user.status}!=3?true:false)">新增课程</a>
            <a href="about.html">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="info-list-box">
      <div class="info-list w1200">
        <div class="item-box layui-clear" id="list-cont">

          <form class="layui-form" action="" enctype="multipart/form-data" method="post" id="fileForm">
            <div class="layui-form-item">
              <label class="layui-form-label">课程：</label>
              <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入课程名"  class="layui-input" style="width: 200px"/>
              </div>
            </div>
            <div class="layui-form-item" style="background: #F8F8F8">
              <label class="layui-form-label">课程视频</label>
              <div class="layui-input-block">
                <input type="file" name="uploadFile"  class="layui-input" style="width: 200px" value="上传视频"/>
              </div>
            </div>
            <div class="layui-form-item" style="background: #F8F8F8">
              <label class="layui-form-label">课程封面图</label>
              <div class="layui-input-block">
                <input type="file" name="uploadFile"  class="layui-input" style="width: 200px" value="上传封面图"/>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">课程介绍</label>
              <div class="layui-input-block">
                <input name="introdue" placeholder="请输入内容" class="layui-textarea"/>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">选择框</label>
              <div class="layui-input-block">
                <select name="userTeaId" lay-verify="required">
                  <option value="">请选择老师</option>
                  <option th:value="${teacher.id}" th:each="teacher:${application.teachList}">[[${teacher.username}]]</option>

                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">选择框</label>
              <div class="layui-input-block">
                <select name="timeSection" lay-verify="required">
                  <option value="">请选择时间段</option>
                  <option value="9:00 - 10:20">9:00 - 10:20</option>
                  <option value="10:20 - 12:00">10:20 - 12:00</option>
                  <option value="14:00 - 15:20">14:00 - 15:20</option>
                  <option value="15:30 - 16:50">15:30 - 16:50</option>
                  <option value="17:00 - 18:20">17:00 - 18:20</option>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">选择框</label>
              <div class="layui-input-block">
                <select name="week" lay-verify="required">
                  <option value="">请选择时间段</option>
                  <option value="星期一">星期一</option>
                  <option value="星期二">星期二</option>
                  <option value="星期三">星期三</option>
                  <option value="星期四">星期四</option>
                  <option value="星期五">星期五</option>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit_btn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
<script src="js/util/jquery-3.1.1.min.js" type="application/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
        layui.config({
            base: 'js/util' //你存放新模块的目录，注意，不是layui的模块目录
        }).use(['jquery','form'],function(){
            var msg = [[${msg}]];
            if (msg) {
                layer.msg(msg);
            }
            $("#submit_btn").click(function () {
                $("#fileForm").attr("action","/insertCourse");
                $("#fileForm").submit();
            });

        })
    </script>


</body>
</html>